body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
   
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  }
  
  .hole {
    width: 100px;
    height: 100px;
    background: #ccc;
    background: lightblue;
    border: 1px solid #999;
    box-sizing: border-box;
    position: relative;
  }
  
  .hole.mole {
    background: url('images\ \(1\).jpg') no-repeat center center;
    background-size: cover;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: lightpink;
    color: black;
  }
  